@inherits LayoutComponentBase

<div class="page">
    <main>
        <header class="px-4 text-bg-dark">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"><h2>TRAVeller EXchange</h2></div>
        </header>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
